.catalogContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.catalogPics{
    width: auto;
    height: 100%;
}
.noctemWM{
    width: 70vw;
    height: 20;
    margin: 2em 0 0 0;
    background-color: #1a1a1a;
    box-shadow: black 1px 1px, #616161 -1px -1px;
    display: grid;
    grid-template-columns: .25em auto .25em;
    grid-template-rows: .25em 1em .25em .5em .25em 16.25em .25em 1em .25em;
}
.diemWM{
    height: 20;
    background-color: rgb(200, 200, 200);
    box-shadow: black 1px 1px, white -1px -1px;
    grid-template-rows: .25em 1em .25em .5em .25em 16.25em .25em 1em .25em;
}
.catalogWMContent{
    width: auto;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: black 1px 1px inset, gray -1px -1px inset;
    overflow-y: scroll;
}
.catalogWMContentN{
    width: auto;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f;
    box-shadow: black 1px 1px inset, #616161 -1px -1px inset;
    overflow-y: scroll;
}
.catalogWMContent1{
    width: auto;
    height: 14.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.catalogWMFirst{
    width: 70vw;
    margin: 4em 0 0 0;
    display: grid;
    grid-template-columns: .25em auto .25em;
}
.catalogWMLast{
    width: 70vw;
    margin: 2em 0 2em 0;
    display: grid;
    grid-template-columns: .25em auto .25em;
}
.bundleWM{
    width: 70vw;
    height: 20;
    margin: 2em 0 0 0;
    background: linear-gradient(to right, rgb(246, 169, 38), rgb(233, 70, 46), rgb(67, 128, 154));
    box-shadow: black 1px 1px, white -1px -1px;
    display: grid;
    grid-template-columns: .25em auto .25em;
    grid-template-rows: .25em 1em .25em .5em .25em 16.25em .25em 1em .25em;
}